body {
    background: url("../img/фон.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 56px;
}

input {
  display: inline-block;
  width:7em;
}


.text {
    font-size: 1.5em;
}

@media (min-width:  0px) and (max-width: 780px){
    .text {
        font-size: 1em;
    }
}